.Container {
  margin: 200px auto;
  width: 80%;
}

.MapContinar {
  width: 500px;
  height: 400px;
}

.ContainerBody {
  display: flex;
  justify-content: space-between;
}

.SubmitAddressForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px 24px 8px 0px;
  form {
    display: flex;
    flex-direction: column;
    input,
    select,
    textarea {
      margin: 8px 0;
      width: 100%;
      padding: 8px;
      border: 1px solid black;
      border-radius: 4px;
      outline: none;
    }
    .ButtonContainer {
      margin: 16px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .ReturnLink {
        width: 48%;
      }
      .SubmitBtn,
      .ReturnBtn {
        width: 48%;
        padding: 8px 0;
        background-color: rgb(184, 184, 184);
        text-align: center;
        border: 2px solid black;
        border-radius: 4px;
        text-decoration: none;
        color: black;
        font-size: 28px;
        font-weight: bold;
        transition: all 0.2s;
        cursor: pointer;
      }

      .ReturnBtn {
        width: 100%;
      }

      .SubmitBtn:hover,
      .ReturnBtn:hover {
        border: 2px solid white;
        color: rgb(184, 184, 184);
        background-color: black;
      }
    }
  }
}
