.WelcomeContainer {
  margin-top: 120px;
}

.HiHeading {
  font-size: 60px;
  transition: all 0.2s;
}

.HiHeading:hover,
.BriefDetailsParagraph:hover {
  color: white;
}

.BriefDetailsParagraph {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  transition: all 0.2s;
}

.GitLabLink {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.BriefDetailList {
  margin: 16px 0;
  padding: 0 16px;
  li {
    font-size: 15px;
  }
}
