.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.NewAddressButton {
  width: 90%;
  margin: 16px 0;
  padding: 8px 0;
  background-color: rgb(184, 184, 184);
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.2s;
}

.NewAddressButton:hover {
  border: 2px solid white;
  color: rgb(184, 184, 184);
  background-color: black;
}
