.AddressTable {
  width: 90%;
  margin: 20px 0;
  border-collapse: collapse;
  thead {
    tr {
      th {
        padding: 20px 0;
      }
    }
  }
  tbody {
    tr {
      border: solid thin;
      td {
        text-align: center;
        padding: 20px 0;
      }
    }
  }
}

.AddressActionBtn {
  background-color: rgb(184, 184, 184);
  border: none;
  outline: none;
  margin: 8px;
  font-size: 20px;
  cursor: pointer;
}
